body {
  background-image: url(hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  position: relative;
} 
/* #container { 
  background-color: rgb(0, 128, 225);
  width: 100%;
  height: 665px;
  opacity: 0.4;
  display: none; 
 } */
.show {
  display:none;
}
.add{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 127, 225, 0.438);
  /* display: block; */
}
.none{
  display: none;
}
h1,
h2 {
  color: #3b3737;
  font-family: "Varela Round", sans-serif;
}
#mak {
  box-shadow: 2px 4px 4px 1px grey;
  padding: 12px;
  border-radius: 20px;
  border: none;
  position: relative;
  top: 190px;
  left: 370px;
  width: 36%;
  height: 145px;
  background-color: white;
  text-align: center;
  /* z-index:-2; */
  /* display: block; */
}
#show {
  box-shadow: 2px 4px 4px 1px grey;
  position: absolute;
  top: 190px;
  left: 370px;
  width: 36%;
  height: 145px;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  border: none;
  padding: 12px;
  z-index: 2;
}
#close {
  margin-top: 9px;
  margin-left: 445px;
  cursor: pointer;
  transition: 0.2s;
}
#btn {
  cursor: pointer;
  width: 125px;
  height: 25px;
  border: none;
  border-radius: 6px;
  background-color: #308787;
  color: white;
  font-family: "Varela Round", sans-serif;
  transition: 0.4s;
}
#btn:hover,
#close:hover {
  transform: scale(1.3, 1.3);
}
